﻿@model Post
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form asp-controller="Home" asp-action="Edit" method="post">
    <div>
        <label>Title</label>
        <input asp-for="Title"/>
    </div>
    <div>
        <label>Body</label>
        <input asp-for="Body"/>
    </div>
    <input type="submit" name="name" value="Submit" />
</form>

